{
    "swagger": "2.0",
    "info": {
        "title": "iermu api / doc",
        "description": "爱耳目云摄像头平台接口v1.0",
        "version": "1.0"
    },
    "host": "api.iermu.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "paths": {
        "/oauth/2.0/authorize": {
            "get": {
                "tags": [
                    " 1 oauth2认证"
                ],
                "summary": "获取 Authorization Code",
                "description": "",
                "operationId": "authorize",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "client_id",
                        "description": "应用的 API Key",
                        "required": true,
                        "type": "string",
                        "default": "2222222222"
                    },
                    {
                        "in": "query",
                        "name": "response_type",
                        "description": "获取 Authorization Code 时为“code”",
                        "required": true,
                        "type": "string",
                        "default": "code"
                    },
                    {
                        "in": "query",
                        "name": "redirect_uri",
                        "description": "授权后回调 URI,需与应用注册时授权回调地址匹配",
                        "required": true,
                        "type": "string",
                        "default": "http://127.0.0.1/"
                    },
                    {
                        "in": "query",
                        "name": "scope",
                        "description": "以空格分隔的权限列表,若不传递此参数,代表请求用户的 basic 默认权限",
                        "required": false,
                        "type": "string",
                        "default": "basic"
                    },
                    {
                        "in": "query",
                        "name": "state",
                        "description": "用于保持请求和回调的状态,授权服务器在回调时(重 定向用户浏览器到“redirect_uri”时),会在 Query Parameter 中原样回传该参数。OAuth2.0 标准协议建议, 利用 state 参数来防止 CSRF 攻击。",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "display",
                        "description": "登录和授权页面的展现样式,默认为“page”",
                        "required": false,
                        "type": "string",
                        "default": "mobile"
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "显示授权页面或错误信息"
                    }
                }
            }
        },
        "/oauth/2.0/token": {
            "post": {
                "tags": [
                    " 1 oauth2认证"
                ],
                "summary": "获取 Access Token",
                "description": "",
                "operationId": "token",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "grant_type",
                        "description": "Auth Code为“authorization_code”，Refresh Token为“refresh_token”",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "code",
                        "description": "Auth Code时必须，通过上面第一步所获得的 Authorization Code",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "redirect_uri",
                        "description": "Auth Code时必须，该值必须与获取 Authorization Code 时传递的 “redirect_uri”保持一致",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "client_id",
                        "description": "应用的 API Key",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "client_secret",
                        "description": "Refresh Token时必须，应用的 API Secret",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "refresh_token",
                        "description": "Refresh Token时必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回Token信息",
                        "schema": {
                            "$ref": "#/definitions/AccessToken"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/OauthError"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#register": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "注册设备并绑定用户",
                "description": "",
                "operationId": "reg",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“register”",
                        "required": true,
                        "type": "string",
                        "default": "register"
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "connect_type",
                        "description": "平台类型，1百度2羚羊云",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "desc",
                        "description": "设备名",
                        "required": true,
                        "type": "string",
                        "default": "我的摄像头"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DeviceRegister"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#drop": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "设备注销",
                "description": "",
                "operationId": "drop",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“drop”",
                        "required": true,
                        "type": "string",
                        "default": "drop"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DeviceDrop"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#update": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "修改设备描述",
                "description": "",
                "operationId": "update",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“update”",
                        "required": true,
                        "type": "string",
                        "default": "update"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "desc",
                        "description": "设备名",
                        "required": true,
                        "type": "string",
                        "default": "我的摄像头"
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DeviceUpdate"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#list": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取设备列表",
                "description": "获取设备列表",
                "operationId": "list",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“list”",
                        "required": true,
                        "type": "string",
                        "default": "list"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "share",
                        "description": "是否只显示分享设备，1是，0否",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "online",
                        "description": "是否只显示在线设备，1是，0否",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "category",
                        "description": "用户分类ID",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "orderby",
                        "description": "排序类型，view点击最多，approve点赞最多，comment评论最多",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "data_type",
                        "description": "数据类型，“all”全部返回，“my”个人设备，“grant”授权设备，“subscribe”订阅设备",
                        "required": false,
                        "type": "string",
                        "default": "all"
                    },
                    {
                        "in": "formData",
                        "name": "list_type",
                        "description": "列表类型，“all”全部返回，“page”分页返回",
                        "required": false,
                        "type": "string",
                        "default": "all"
                    },
                    {
                        "in": "formData",
                        "name": "page",
                        "description": "页数，默认为1，list_type为page时有效",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "count",
                        "description": "每页数据条数，默认为10，list_type为page时有效",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DeviceList"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#meta": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取设备信息",
                "description": "获取设备信息",
                "operationId": "meta",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“meta”",
                        "required": true,
                        "type": "string",
                        "default": "meta"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token，我的设备及授权设备鉴权必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID, 我的设备及授权设备鉴权必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "shareid",
                        "description": "分享ID，收藏和分享设备鉴权必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "uk",
                        "description": "UK，收藏和分享设备鉴权必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DeviceInfo"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#listcategory": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取用户个人分类列表",
                "description": "获取用户个人分类列表",
                "operationId": "listcategory",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“listcategory”",
                        "required": true,
                        "type": "string",
                        "default": "listcategory"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/CategoryList"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#addcategory": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "添加用户个人分类",
                "description": "添加用户个人分类",
                "operationId": "addcategory",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“addcategory”",
                        "required": true,
                        "type": "string",
                        "default": "addcategory"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID, 支持批量操作（以“，”隔开的设备ID串）",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "category",
                        "description": "个人分类名",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AddCategory"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#updatecategory": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "修改用户个人分类",
                "description": "修改用户个人分类",
                "operationId": "updatecategory",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“updatecategory”",
                        "required": true,
                        "type": "string",
                        "default": "updatecategory"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "cid",
                        "description": "个人分类id",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID, 支持批量操作（以“，”隔开的设备ID串）",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "category",
                        "description": "个人分类名",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AddCategory"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#dropcategory": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "删除用户个人分类",
                "description": "删除用户个人分类",
                "operationId": "dropcategory",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“dropcategory”",
                        "required": true,
                        "type": "string",
                        "default": "dropcategory"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "cid",
                        "description": "个人分类id",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DropCategory"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#listcomment": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取设备评论列表",
                "description": "获取设备评论列表",
                "operationId": "listcomment",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“listcomment”",
                        "required": true,
                        "type": "string",
                        "default": "listcomment"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "shareid",
                        "description": "分享ID，收藏和分享设备鉴权必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "uk",
                        "description": "UK，收藏和分享设备鉴权必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "list_type",
                        "description": "列表类型，“page”分页返回，“timeline”时间戳返回",
                        "required": false,
                        "type": "string",
                        "default": "page"
                    },
                    {
                        "in": "formData",
                        "name": "st",
                        "description": "开始时间戳，返回以后的数据，list_type=timeline时有效",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "et",
                        "description": "结束时间戳，返回之前的数据，list_type=timeline时有效",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "page",
                        "description": "页数，默认为1，list_type=page时有效",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "count",
                        "description": "每页数据条数，默认为10",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/CommentList"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#comment": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "添加设备评论",
                "description": "添加设备评论",
                "operationId": "comment",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“comment”",
                        "required": true,
                        "type": "string",
                        "default": "comment"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "comment",
                        "description": "评论内容",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "parent_cid",
                        "description": "上级评论id",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AddComment"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#listview": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取播放记录列表",
                "description": "获取播放记录列表",
                "operationId": "listview",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“listview”",
                        "required": true,
                        "type": "string",
                        "default": "listview"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "page",
                        "description": "页数，默认为1",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "count",
                        "description": "每页数据条数，默认为10",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/ViewList"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#view": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "添加播放记录",
                "description": "添加播放记录",
                "operationId": "view",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“view”",
                        "required": true,
                        "type": "string",
                        "default": "view"
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": false,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AddView"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#dropview": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "删除播放记录",
                "description": "删除播放记录",
                "operationId": "dropview",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“dropview”",
                        "required": true,
                        "type": "string",
                        "default": "dropview"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID, 支持批量操作（以“，”隔开的设备ID串）",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DropView"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#approve": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "添加设备点赞",
                "description": "添加设备点赞",
                "operationId": "approve",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“approve”",
                        "required": true,
                        "type": "string",
                        "default": "approve"
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": false,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AddApprove"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#report": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "添加设备举报",
                "description": "添加设备举报",
                "operationId": "report",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“report”",
                        "required": true,
                        "type": "string",
                        "default": "report"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "type",
                        "description": "举报类型，0为其它，1色情，2垃圾",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "reason",
                        "description": "举报缘由",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AddReport"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/ad": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取首页图",
                "description": "获取首页图",
                "operationId": "getdevad",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "type",
                        "description": "具体的类型，如display为首页导航",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "page",
                        "description": "页数，默认为1",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "count",
                        "description": "每页数据条数，默认为10",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AdList"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#move": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "控制云台转动",
                "description": "控制云台转动",
                "operationId": "move",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“move”",
                        "required": true,
                        "type": "string",
                        "default": "move"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "preset",
                        "description": "预置点序号",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "x1",
                        "description": "起始点横坐标",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "y1",
                        "description": "起始点纵坐标",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "x2",
                        "description": "终止点横坐标",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "y2",
                        "description": "终止点纵坐标",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/PlatMove"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#rotate": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "控制云台平扫",
                "description": "控制云台平扫",
                "operationId": "rotate",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“rotate”",
                        "required": true,
                        "type": "string",
                        "default": "rotate"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "rotate",
                        "description": "是否开启rotate, stop关闭, auto开启",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/PlatMove"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#addpreset": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "添加云台预置点",
                "description": "添加云台预置点",
                "operationId": "addpreset",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“addpreset”",
                        "required": true,
                        "type": "string",
                        "default": "addpreset"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "preset",
                        "description": "预置点序号",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "title",
                        "description": "预置点名称",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/PresetInfo"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#droppreset": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "删除云台预置点",
                "description": "删除云台预置点",
                "operationId": "droppreset",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“droppreset”",
                        "required": true,
                        "type": "string",
                        "default": "droppreset"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "preset",
                        "description": "预置点序号",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/PresetInfo"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#listpreset": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取云台预置点列表",
                "description": "获取云台预置点列表",
                "operationId": "listpreset",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“listpreset”",
                        "required": true,
                        "type": "string",
                        "default": "listpreset"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/PresetList"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#upgrade": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "设备固件升级",
                "description": "设备固件升级",
                "operationId": "upgrade",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“upgrade”",
                        "required": true,
                        "type": "string",
                        "default": "upgrade"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/Upgrade"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#listcontact": {
            "get": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取设备联系人列表",
                "description": "获取设备联系人列表",
                "operationId": "listcontact",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“listcontact”",
                        "required": true,
                        "type": "string",
                        "default": "listcontact"
                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/ListContact"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#addcontact": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "添加设备联系人",
                "description": "添加设备联系人",
                "operationId": "addcontact",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“addcontact”",
                        "required": true,
                        "type": "string",
                        "default": "addcontact"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "name",
                        "description": "联系人姓名",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "phone",
                        "description": "联系人电话",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/ContactInfo"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#updatecontact": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "修改设备联系人",
                "description": "修改设备联系人",
                "operationId": "updatecontact",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“updatecontact”",
                        "required": true,
                        "type": "string",
                        "default": "updatecontact"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "id",
                        "description": "联系人ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "name",
                        "description": "联系人姓名",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "phone",
                        "description": "联系人电话",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/ContactInfo"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/pcs/device#dropcontact": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "删除设备联系人",
                "description": "删除设备联系人",
                "operationId": "dropcontact",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“dropcontact”",
                        "required": true,
                        "type": "string",
                        "default": "dropcontact"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "id",
                        "description": "联系人ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/ContactInfo"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/passport/user#info": {
            "get": {
                "tags": [
                    " 3 用户接口"
                ],
                "summary": "获取用户信息接口",
                "description": "",
                "operationId": "info",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“info”",
                        "required": true,
                        "type": "string",
                        "default": "info"
                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/UserInfo"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/passport/user#connect": {
            "get": {
                "tags": [
                    " 3 用户接口"
                ],
                "summary": "获取用户第三方帐号绑定信息接口",
                "description": "",
                "operationId": "connect",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“connect”",
                        "required": true,
                        "type": "string",
                        "default": "info"
                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息"
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/passport/user#logout": {
            "get": {
                "tags": [
                    " 3 用户接口"
                ],
                "summary": "注销登陆接口",
                "description": "",
                "operationId": "logout",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“logout”",
                        "required": true,
                        "type": "string",
                        "default": "logout"
                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息"
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/passport/user#update": {
            "post": {
                "tags": [
                    " 3 用户接口"
                ],
                "summary": "修改用户名",
                "description": "",
                "operationId": "update",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“update”",
                        "required": true,
                        "type": "string",
                        "default": "update"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "username",
                        "description": "用户名",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/UserInfo"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/passport/user#changepwd": {
            "post": {
                "tags": [
                    " 3 用户接口"
                ],
                "summary": "修改密码",
                "description": "",
                "operationId": "changepwd",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“changepwd”",
                        "required": true,
                        "type": "string",
                        "default": "changepwd"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "oldpassword",
                        "description": "旧密码",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "newpassword",
                        "description": "新密码",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "sign",
                        "description": "签名，md5(uid + oldpassword + newpassword + sk + expire)",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "expire",
                        "description": "签名过期时间，当前时间戳＋1分钟",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回用户信息"
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/passport/user#complete": {
            "post": {
                "tags": [
                    " 3 用户接口"
                ],
                "summary": "完善用户资料",
                "description": "",
                "operationId": "complete",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“complete”",
                        "required": true,
                        "type": "string",
                        "default": "complete"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "username",
                        "description": "用户名",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "email",
                        "description": "邮箱",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "password",
                        "description": "密码",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "sign",
                        "description": "签名，md5(username + email + password + sk + expire)",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "expire",
                        "description": "签名过期时间，当前时间戳＋1分钟",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回用户信息"
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/home/user#info": {
            "get": {
                "tags": [
                    " 3 用户接口"
                ],
                "summary": "获取用户信息接口",
                "description": "",
                "operationId": "info",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“info”",
                        "required": true,
                        "type": "string",
                        "default": "info"
                    },
                    {
                        "in": "query",
                        "name": "uk",
                        "description": "UK",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/UserInfo"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/home/user#listview": {
            "get": {
                "tags": [
                    " 3 用户接口"
                ],
                "summary": "获取播放记录列表",
                "description": "获取播放记录列表",
                "operationId": "listview",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“listview”",
                        "required": true,
                        "type": "string",
                        "default": "listview"
                    },
                    {
                        "in": "query",
                        "name": "uk",
                        "description": "UK",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "页数，默认为1",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "count",
                        "description": "每页数据条数，默认为10",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/SearchUserList"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/home/user#view": {
            "get": {
                "tags": [
                    " 3 用户接口"
                ],
                "summary": "添加播放记录",
                "description": "添加播放记录",
                "operationId": "view",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“view”",
                        "required": true,
                        "type": "string",
                        "default": "view"
                    },
                    {
                        "in": "query",
                        "name": "uk",
                        "description": "UK",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "access token",
                        "required": false,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AddView"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/home/user#dropview": {
            "get": {
                "tags": [
                    " 3 用户接口"
                ],
                "summary": "删除播放记录",
                "description": "删除播放记录",
                "operationId": "dropview",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“dropview”",
                        "required": true,
                        "type": "string",
                        "default": "dropview"
                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "uk",
                        "description": "UK",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DropView"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/home/user#listcomment": {
            "get": {
                "tags": [
                    " 3 用户接口"
                ],
                "summary": "获取用户评论列表",
                "description": "获取用户评论列表",
                "operationId": "listcomment",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“listcomment”",
                        "required": true,
                        "type": "string",
                        "default": "listcomment"
                    },
                    {
                        "in": "query",
                        "name": "uk",
                        "description": "UK",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "list_type",
                        "description": "列表类型，“page”分页返回，“timeline”时间戳返回",
                        "required": false,
                        "type": "string",
                        "default": "page"
                    },
                    {
                        "in": "query",
                        "name": "st",
                        "description": "开始时间戳，返回以后的数据，list_type=timeline时有效",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "et",
                        "description": "结束时间戳，返回之前的数据，list_type=timeline时有效",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "页数，默认为1，list_type=page时有效",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "count",
                        "description": "每页数据条数，默认为10",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/CommentList"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/home/user#comment": {
            "get": {
                "tags": [
                    " 3 用户接口"
                ],
                "summary": "添加用户评论",
                "description": "添加用户评论",
                "operationId": "comment",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“comment”",
                        "required": true,
                        "type": "string",
                        "default": "comment"
                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "uk",
                        "description": "UK",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "comment",
                        "description": "评论内容",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "parent_cid",
                        "description": "上级评论id",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AddComment"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/home/user#listshare": {
            "get": {
                "tags": [
                    " 3 用户接口"
                ],
                "summary": "获取用户公开分享的云摄像头列表",
                "description": "",
                "operationId": "listShare",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“listshare”",
                        "required": true,
                        "type": "string",
                        "default": "listshare"
                    },
                    {
                        "in": "query",
                        "name": "sign",
                        "description": "Sign 由 APPID=1, AK, RealSign 三个元素以及’-’组成; RealSign 为 appid, expire, AK, SK 四个元素组成的字符串计算得到的 md5 ; 其中AK,SK为开发者在开放平台申请的应用的AK,SK。",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "expire",
                        "description": "签名串的过期时间",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "uk",
                        "description": "UK",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "access token",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "category",
                        "description": "公开分类id",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "orderby",
                        "description": "all综合排序，new最新分享，view最多观看，approve最受欢迎，comment最多评论，recommend推荐列表",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "commentnum",
                        "description": "设备列表返回的评论数，默认为0",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "页数，默认为1",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "count",
                        "description": "每页数据条数，默认为10",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回分享列表",
                        "schema": {
                            "$ref": "#/definitions/ListShare"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/search/keyword#list": {
            "post": {
                "tags": [
                    " 4 搜索接口"
                ],
                "summary": "获取用户搜索关键词列表",
                "description": "获取用户搜索关键词列表",
                "operationId": "listkeyword",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“list”",
                        "required": true,
                        "type": "string",
                        "default": "list"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "page",
                        "description": "页数，默认为1",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "count",
                        "description": "每页数据条数，默认为10",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/KeywordList"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rest/2.0/search/keyword#drop": {
            "post": {
                "tags": [
                    " 4 搜索接口"
                ],
                "summary": "删除用户关键词",
                "description": "删除用户关键词",
                "operationId": "dropkeyword",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“drop”",
                        "required": true,
[...]
