{
    "swagger": "2.0",
    "info": {
        "title": "iermu api / doc",
        "description": "爱耳目云摄像头平台接口v2.0",
        "version": "2.0"
    },
    "host": "api.iermu.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "paths": {
        "/oauth2/authorize": {
            "get": {
                "tags": [
                    " 1 oauth2认证"
                ],
                "summary": "获取 Authorization Code",
                "description": "",
                "operationId": "authorize",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "client_id",
                        "description": "应用的 API Key",
                        "required": true,
                        "type": "string",
                        "default": "2222222222"
                    },
                    {
                        "in": "query",
                        "name": "response_type",
                        "description": "获取 Authorization Code 时为“code”",
                        "required": true,
                        "type": "string",
                        "default": "code"
                    },
                    {
                        "in": "query",
                        "name": "redirect_uri",
                        "description": "授权后回调 URI,需与应用注册时授权回调地址匹配",
                        "required": true,
                        "type": "string",
                        "default": "http://127.0.0.1/"
                    },
                    {
                        "in": "query",
                        "name": "scope",
                        "description": "以空格分隔的权限列表,若不传递此参数,代表请求用户的 basic 默认权限",
                        "required": false,
                        "type": "string",
                        "default": "basic"
                    },
                    {
                        "in": "query",
                        "name": "state",
                        "description": "用于保持请求和回调的状态,授权服务器在回调时(重 定向用户浏览器到“redirect_uri”时),会在 Query Parameter 中原样回传该参数。OAuth2.0 标准协议建议, 利用 state 参数来防止 CSRF 攻击。",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "display",
                        "description": "登录和授权页面的展现样式,默认为“page”",
                        "required": false,
                        "type": "string",
                        "default": "mobile"
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "显示授权页面或错误信息"
                    }
                }
            }
        },
        "/oauth2/token": {
            "post": {
                "tags": [
                    " 1 oauth2认证"
                ],
                "summary": "获取 Access Token",
                "description": "",
                "operationId": "token",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "grant_type",
                        "description": "Auth Code为“authorization_code”，Refresh Token为“refresh_token”,手机登录为“mobile”",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "code",
                        "description": "Auth Code时必须，通过上面第一步所获得的 Authorization Code",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "redirect_uri",
                        "description": "Auth Code时必须，该值必须与获取 Authorization Code 时传递的 “redirect_uri”保持一致",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "client_id",
                        "description": "应用的 API Key",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "client_secret",
                        "description": "Refresh Token时必须，应用的 API Secret",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "refresh_token",
                        "description": "Refresh Token时必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "countrycode",
                        "description": "手机登录时必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "mobile",
                        "description": "手机登录时必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "verifycode",
                        "description": "手机登录时必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回Token信息",
                        "schema": {
                            "$ref": "#/definitions/AccessToken"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/OauthError"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#register": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "注册设备并绑定用户",
                "description": "",
                "operationId": "reg",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“register”",
                        "required": true,
                        "type": "string",
                        "default": "register"
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "connect_type",
                        "description": "平台类型，1百度2羚羊云",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "desc",
                        "description": "设备名",
                        "required": true,
                        "type": "string",
                        "default": "我的摄像头"
                    },
                    {
                        "in": "formData",
                        "name": "location",
                        "description": "参数示例 {\"latitude\":111.22,\"longitude\":111.44,\"address\":\"北京市海淀区新建宫门路19号\",\"type\":\"amap\",\"name\":\"颐和园\"} 其中latitude为返回的位置点坐标纬度,longitude为返回的位置点坐标经度,address为返回的POI点地址，通过手动定位获取时该项缺失,name为POI名称(设备上显示的名称),type为使用何种地图高德地图amap百度地图baidu",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "timezone",
                        "description": "时区，IANA/Olson时区ID，如北京时间‘Asia/Shanghai’",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DeviceRegister"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#drop": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "设备注销",
                "description": "",
                "operationId": "drop",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“drop”",
                        "required": true,
                        "type": "string",
                        "default": "drop"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DeviceDrop"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#update": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "修改设备描述",
                "description": "",
                "operationId": "update",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“update”",
                        "required": true,
                        "type": "string",
                        "default": "update"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "desc",
                        "description": "设备名",
                        "required": true,
                        "type": "string",
                        "default": "我的摄像头"
                    },
                    {
                        "in": "formData",
                        "name": "location",
                        "description": "参数示例 {\"latitude\":111.22,\"longitude\":111.44,\"address\":\"北京市海淀区新建宫门路19号\",\"type\":\"amap\",\"name\":\"颐和园\"} 其中latitude为返回的位置点坐标纬度,longitude为返回的位置点坐标经度,address为返回的POI点地址，通过手动定位获取时该项缺失,name为POI名称(设备上显示的名称),type为使用何种地图高德地图amap百度地图baidu",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "timezone",
                        "description": "时区，IANA/Olson时区ID，如北京时间‘Asia/Shanghai’",
                        "required": false,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DeviceUpdate"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#list": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取设备列表",
                "description": "获取设备列表",
                "operationId": "list",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“list”",
                        "required": true,
                        "type": "string",
                        "default": "list"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "device_type",
                        "description": "设备类型，默认为1",
                        "required": false,
                        "type": "string",
                        "default": "1"
                    },
                    {
                        "in": "formData",
                        "name": "share",
                        "description": "是否只显示分享设备，1是，0否",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "online",
                        "description": "是否只显示在线设备，1是，0否",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "category",
                        "description": "用户分类ID",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "orderby",
                        "description": "排序类型，view点击最多，approve点赞最多，comment评论最多",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "data_type",
                        "description": "数据类型，“all”全部返回，“none”返回个人和授权设备，“my”个人设备，“grant”授权设备，“sub”订阅设备",
                        "required": false,
                        "type": "string",
                        "default": "all"
                    },
                    {
                        "in": "formData",
                        "name": "list_type",
                        "description": "列表类型，“all”全部返回，“page”分页返回",
                        "required": false,
                        "type": "string",
                        "default": "all"
                    },
                    {
                        "in": "formData",
                        "name": "page",
                        "description": "页数，默认为1，list_type为page时有效",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "count",
                        "description": "每页数据条数，默认为10，list_type为page时有效",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DeviceList"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#listaidevice": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取ai设备列表",
                "description": "获取ai设备列表",
                "operationId": "listaidevice",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“listaidevice”",
                        "required": true,
                        "type": "string",
                        "default": "listaidevice"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "list_type",
                        "description": "列表类型，“all”全部返回，“page”分页返回",
                        "required": false,
                        "type": "string",
                        "default": "all"
                    },
                    {
                        "in": "formData",
                        "name": "page",
                        "description": "页数，默认为1，list_type为page时有效",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "count",
                        "description": "每页数据条数，默认为10，list_type为page时有效",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DeviceList"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#sum": {
            "get": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取用户设备汇总信息",
                "description": "获取用户设备汇总信息",
                "operationId": "sum",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“sum”",
                        "required": true,
                        "type": "string",
                        "default": "sum"
                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "data_type",
                        "description": "数据类型，“all”全部返回，“none”返回个人和授权，“my”个人设备，“grant”授权设备，“sub”订阅设备",
                        "required": false,
                        "type": "string",
                        "default": "my"
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DeviceSum"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#meta": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取设备信息",
                "description": "获取设备信息",
                "operationId": "meta",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“meta”",
                        "required": true,
                        "type": "string",
                        "default": "meta"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token，我的设备及授权设备鉴权必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID, 我的设备及授权设备鉴权必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "shareid",
                        "description": "分享ID，收藏和分享设备鉴权必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "uk",
                        "description": "UK，收藏和分享设备鉴权必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DeviceInfoMeta"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#listcategory": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取用户个人分类列表",
                "description": "获取用户个人分类列表",
                "operationId": "listcategory",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“listcategory”",
                        "required": true,
                        "type": "string",
                        "default": "listcategory"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token,获取个人分类必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "type",
                        "description": "分类类型,pub为公共分类、my为个人分类,默认为my",
                        "required": false,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/CategoryList"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#addcategory": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "添加用户个人分类",
                "description": "添加用户个人分类",
                "operationId": "addcategory",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“addcategory”",
                        "required": true,
                        "type": "string",
                        "default": "addcategory"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID, 支持批量操作（以“，”隔开的设备ID串）",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "category",
                        "description": "个人分类名",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/UserId"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#updatecategory": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "修改用户个人分类",
                "description": "修改用户个人分类",
                "operationId": "updatecategory",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“updatecategory”",
                        "required": true,
                        "type": "string",
                        "default": "updatecategory"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "cid",
                        "description": "个人分类id",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID, 支持批量操作（以“，”隔开的设备ID串）",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "category",
                        "description": "个人分类名",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DeviceId"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#dropcategory": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "删除用户个人分类",
                "description": "删除用户个人分类",
                "operationId": "dropcategory",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“dropcategory”",
                        "required": true,
                        "type": "string",
                        "default": "dropcategory"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "cid",
                        "description": "个人分类id",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/UserId"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#listcomment": {
            "get": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取设备评论列表",
                "description": "获取设备评论列表",
                "operationId": "listcomment",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“listcomment”",
                        "required": true,
                        "type": "string",
                        "default": "listcomment"
                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "access token",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "shareid",
                        "description": "分享ID，收藏和分享设备鉴权必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "uk",
                        "description": "UK，收藏和分享设备鉴权必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "list_type",
                        "description": "列表类型，“page”分页返回，“timeline”时间戳返回",
                        "required": false,
                        "type": "string",
                        "default": "page"
                    },
                    {
                        "in": "query",
                        "name": "st",
                        "description": "开始时间戳，返回以后的数据，list_type=timeline时有效",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "et",
                        "description": "结束时间戳，返回之前的数据，list_type=timeline时有效",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "页数，默认为1，list_type=page时有效",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "count",
                        "description": "每页数据条数，默认为10",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "reply_type",
                        "description": "回复类型，默认不传，“reply”按回复状态返回",
                        "required": false,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/CommentList"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#comment": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "添加设备评论",
                "description": "添加设备评论",
                "operationId": "comment",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“comment”",
                        "required": true,
                        "type": "string",
                        "default": "comment"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "comment",
                        "description": "评论内容",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "parent_cid",
                        "description": "上级评论id",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AddComment"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#listview": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取播放记录列表",
                "description": "获取播放记录列表",
                "operationId": "listview",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“listview”",
                        "required": true,
                        "type": "string",
                        "default": "listview"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "page",
                        "description": "页数，默认为1",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "count",
                        "description": "每页数据条数，默认为10",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/ViewDeviceList"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#view": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "添加播放记录",
                "description": "添加播放记录",
                "operationId": "view",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“view”",
                        "required": true,
                        "type": "string",
                        "default": "view"
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": false,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AddView"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#dropview": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "删除播放记录",
                "description": "删除播放记录",
                "operationId": "dropview",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“dropview”",
                        "required": true,
                        "type": "string",
                        "default": "dropview"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID, 支持批量操作（以“，”隔开的设备ID串）",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DropView"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#approve": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "添加设备点赞",
                "description": "添加设备点赞",
                "operationId": "approve",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“approve”",
                        "required": true,
                        "type": "string",
                        "default": "approve"
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": false,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AddApprove"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#report": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "添加设备举报",
                "description": "添加设备举报",
                "operationId": "report",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“report”",
                        "required": true,
                        "type": "string",
                        "default": "report"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "type",
                        "description": "举报类型，0为其它，1色情，2垃圾",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "reason",
                        "description": "举报缘由",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AddReport"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/ad": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取首页图",
                "description": "获取首页图",
                "operationId": "getdevad",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "type",
                        "description": "具体的类型，如display为首页导航",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "page",
                        "description": "页数，默认为1",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "count",
                        "description": "每页数据条数，默认为10",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AdList"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#move": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "控制云台转动",
                "description": "控制云台转动",
                "operationId": "move",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“move”",
                        "required": true,
                        "type": "string",
                        "default": "move"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "delay",
                        "description": "云台运动时长,单位ms,取值范围100-25500",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "preset",
                        "description": "预置点序号",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "direction",
                        "description": "运动方向,“up”向上,“down”向下,“left”向左,“right”向右,“leftup”左上,“rightup”右上,“leftdown”左下,“rightdown”右下",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "step",
                        "description": "配合参数direction的运动步距，取值范围1-255",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "x1",
                        "description": "起始点横坐标",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "y1",
                        "description": "起始点纵坐标",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "x2",
                        "description": "终止点横坐标",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "y2",
                        "description": "终止点纵坐标",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/PlatMove"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#rotate": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "控制云台平扫",
                "description": "控制云台平扫",
                "operationId": "rotate",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“rotate”",
                        "required": true,
                        "type": "string",
                        "default": "rotate"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "rotate",
                        "description": "是否开启rotate, stop关闭, auto开启",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/PlatMove"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#addpreset": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "添加云台预置点",
                "description": "添加云台预置点",
                "operationId": "addpreset",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“addpreset”",
                        "required": true,
                        "type": "string",
                        "default": "addpreset"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "preset",
                        "description": "预置点序号",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "title",
                        "description": "预置点名称",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/PresetInfo"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#updatepreset": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "更新预置点名称",
                "description": "更新预置点名称",
                "operationId": "updatepreset",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“updatepreset”",
                        "required": true,
                        "type": "string",
                        "default": "updatepreset"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "preset",
                        "description": "预置点序号",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "title",
                        "description": "预置点名称",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/PresetInfo"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#droppreset": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "删除云台预置点",
                "description": "删除云台预置点",
                "operationId": "droppreset",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“droppreset”",
                        "required": true,
                        "type": "string",
                        "default": "droppreset"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "preset",
                        "description": "预置点序号",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/PresetInfo"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#listpreset": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取云台预置点列表",
                "description": "获取云台预置点列表",
                "operationId": "listpreset",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“listpreset”",
                        "required": true,
                        "type": "string",
                        "default": "listpreset"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/PresetList"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#snapshot": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "添加截屏",
                "description": "添加截屏",
                "operationId": "snapshot",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“snapshot”",
                        "required": true,
                        "type": "string",
                        "default": "snapshot"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AddSnapshot"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#dropsnapshot": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "删除截屏",
                "description": "删除截屏",
                "operationId": "dropsnapshot",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“dropsnapshot”",
                        "required": true,
                        "type": "string",
                        "default": "dropsnapshot"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "sid",
                        "description": "截屏编号,多个以逗号隔开",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DropSnapshot"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#snapshotinfo": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取截屏信息",
                "description": "获取截屏信息",
                "operationId": "snapshotinfo",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“snapshotinfo”",
                        "required": true,
                        "type": "string",
                        "default": "snapshotinfo"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "sid",
                        "description": "截屏编号",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/SnapshotInfo"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#listsnapshot": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取截屏列表",
                "description": "获取截屏列表",
                "operationId": "listsnapshot",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“listsnapshot”",
                        "required": true,
                        "type": "string",
                        "default": "listsnapshot"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "list_type",
                        "description": "列表类型，“page”分页返回，“all”全部返回",
                        "required": false,
                        "type": "string",
                        "default": "page"
                    },
                    {
                        "in": "formData",
                        "name": "page",
                        "description": "页数，默认为1，list_type=page时有效",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "count",
                        "description": "每页数据条数，默认为10",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/SnapshotList"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#upgrade": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "设备固件升级",
                "description": "设备固件升级",
                "operationId": "upgrade",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“upgrade”",
                        "required": true,
                        "type": "string",
                        "default": "upgrade"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/Upgrade"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#checkupgrade": {
            "get": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "检查设备新固件版本信息",
                "description": "检查设备新固件版本信息",
                "operationId": "checkupgrade",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“checkupgrade”",
                        "required": true,
                        "type": "string",
                        "default": "checkupgrade"
                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备新固件版本信息",
                        "schema": {
                            "$ref": "#/definitions/CheckUpgrade"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#upgradestatus": {
            "get": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "检查设备升级状态",
                "description": "检查设备升级状态",
                "operationId": "upgradestatus",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“upgradestatus”",
                        "required": true,
                        "type": "string",
                        "default": "upgradestatus"
                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备新固件版本信息",
                        "schema": {
                            "$ref": "#/definitions/UpgradeStatus"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#listalarmdevice": {
            "get": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取用户报警设备列表",
                "description": "获取用户报警设备列表",
                "operationId": "listalarmdevice",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“listalarmdevice”",
                        "required": true,
                        "type": "string",
                        "default": "listalarmdevice"
                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "count",
                        "description": "每页个数",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AlarmDeviceList"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#listalarm": {
            "get": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取报警列表",
                "description": "获取报警列表",
                "operationId": "listalarm",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“listalarm”",
                        "required": true,
                        "type": "string",
                        "default": "listalarm"
                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "type",
                        "description": "推送类型，默认为空，0, //报警输入（433）1, //视频丢失 2, //视频遮挡 3, //移动侦测 4, //事件 5, //网络PAD，暂时未用 6, //声音报警",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "sensorid",
                        "description": "传感器ID，默认为空",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "sensortype",
                        "description": "传感器类型，默认为空，1:门磁.2:PIR.3:SOS",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "actionid",
                        "description": "动作ID，默认为空",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "actiontype",
                        "description": "动作类型，默认为空，1:门磁开，2:门磁关，3:门磁拆除，4:门磁低电，5:PIR触发，6:PIR低电，7:SOS触发",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "st",
                        "description": "开始时间",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "et",
                        "description": "结束时间",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "count",
                        "description": "每页个数",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AlarmPic"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#dropalarm": {
            "post": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "删除报警",
                "description": "删除报警",
                "operationId": "dropalarm",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "method",
                        "description": "固定为“dropalarm”",
                        "required": true,
                        "type": "string",
                        "default": "dropalarm"
                    },
                    {
                        "in": "formData",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "formData",
                        "name": "param",
                        "description": "删除列表，json格式，形如{\"list\":[{\"type\":3,\"time\":1461650879},{\"type\":0,\"time\":1461650879,\"sensorid\":\"10000\",\"sensortype\":1,\"actionid\":\"20000\",\"actiontype\":1}]}",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/DropAlarm"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#alarm": {
            "get": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取报警信息",
                "description": "获取报警信息",
                "operationId": "alarm",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“alarm”",
                        "required": true,
                        "type": "string",
                        "default": "alarm"
                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "type",
                        "description": "推送类型，0, //报警输入（433）1, //视频丢失 2, //视频遮挡 3, //移动侦测 4, //事件 5, //网络PAD，暂时未用 6, //声音报警",
                        "required": true,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "sensorid",
                        "description": "传感器ID，type=0时必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "sensortype",
                        "description": "传感器类型，type=0时必须，1:门磁.2:PIR.3:SOS",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "actionid",
                        "description": "动作ID，type=0时必须",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "actiontype",
                        "description": "动作类型，type=0时必须，1.低电（门磁，PIR），2.开门，3.关门，4.拆除（门磁，PIR)，5.PIR触发，6.SOS",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "time",
                        "description": "报警时间",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "download",
                        "description": "是否下载，默认为0",
                        "required": false,
                        "type": "integer",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AlarmInfo"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#alarmspace": {
            "get": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取报警图片存储空间信息",
                "description": "获取报警图片存储空间信息",
                "operationId": "alarmspace",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“alarmspace”",
                        "required": true,
                        "type": "string",
                        "default": "alarmspace"
                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "query",
                        "name": "deviceid",
                        "description": "设备ID",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "HTTP状态码200": {
                        "description": "返回设备信息",
                        "schema": {
                            "$ref": "#/definitions/AlarmSpace"
                        }
                    },
                    "HTTP状态码非200": {
                        "description": "返回错误信息",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/v2/pcs/device#sensorinfo": {
            "get": {
                "tags": [
                    " 2 设备接口"
                ],
                "summary": "获取sensor基本信息",
                "description": "获取sensor基本信息,检测sensor名称是否重复,如果重复给一个建议名称",
                "operationId": "sensorinfo",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "method",
                        "description": "固定为“sensorinfo”",
                        "required": true,
                        "type": "string",
                        "default": "sensorinfo"
                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
[...]
