<div id="menu" class="menu">
    <div id="sbgl" class="sMenu hide" data-page="manage-visitor" data-href="manage-visitor.html">
        设备管理
        <div class="icon lfdj"></div>
        <div class="sLine"></div>
    </div>
    <div id="sbtj" data-page="chart" data-href="chart.html" class="pMenu hide">
        设备统计
        <div class="icon lftj"></div>
        <div class="sLine"></div>
    </div>
    <div for="xtgl" class="pMenu hide">系统管理<div class="icon xtgl"></div>
        <div class="arrow down"></div>
        <div class="sLine"></div>
    </div>
    <div id="xtgl" class="hide">
        <div id="jggl" class="sMenu" data-page="manage-org" data-href="manage-org.html">
            机构管理
            <div class="sLine"></div>
            <div class="icon item"></div>
        </div>
        <div id="jsgl" class="sMenu" data-page="manage-role" data-href="manage-role.html">
            角色管理
            <div class="sLine"></div>
            <div class="icon item"></div>
        </div>
        <div id="yhgl" class="sMenu" data-page="manage-user" data-href="manage-user.html">
            用户管理
            <div class="sLine"></div>
            <div class="icon item"></div>
        </div>
    </div>
</div>